@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,p,a,img,input,ul,li,ol,dl,dt,dd{ padding:0; margin:0;}
ul,ol{list-style:none;}
input{outline:none;}
img{display:block}

/*------------------第二步：定义全局样式--------------*/
body{font-size:12px; color:#3e3e3e; font-family:"微软雅黑";}
header,footer,nav,main,section,article,aside,figure,figcaption{ display:block;}
/*------------------第三步：定义超链接样式--------------*/
a{text-decoration:none; color:#909090;}
a:hover{text-decoration:none; color:#f60;}

/*========================公共样式==================*/
.w{width:1200px; margin:0 auto;}/*版心*/
.l{float:left}
.r{float:right;}


/*=======================图标字体==================*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


/*========================top==================*/
body{background: #000;}
header{height: 110px;}
.nav{ width: 98%; }
.nav .nav-top{height: 12px;padding: 13px 0;}
.nav .nav-top li{padding-right:10px ;}
.nav .navbtm{height:72px;position: relative;width: 100%;z-index: 20;background: #000;}
.navbtm h1{width: 86px; height: 52px; position: absolute;top:-10px;left: 10px;}
.navbtm h1 img{width: 100%;height: 100%;}
.navbtm .menu{height:38px;width: 300px;position: absolute;left:400px;top:30px;}
.navbtm .menu ul li{margin:0 18px ;padding-bottom: 20px;}
.navbtm .menu ul li a{color:#fff;}
.navbtm .menu ul li.now{border-bottom: 2px solid #f99302;}
.navbtm .menu ul li:hover{border-bottom: 2px solid #f99302;}

.navbtm .search{width:250px; height:28px;display: none; border: 1px solid #fff; border-radius: 14px;padding-left: 20px;position: absolute;right: 150px;top:24px;}
.navbtm .search input{width: 190px;height:16px;margin:7px 0; background: black;border:0;color:#fff}

.navbtm .right ul li{margin-top:6px;}
.navbtm .right ul{position: relative;width: 150px;height:28px;margin-right: 25px;margin-top: 25px;}
.navbtm .right .searchul{display: inline-block; width:16px ;height: 17px;}
.navbtm .right .person{margin-left: 40px; }
.navbtm .right .shopcar{margin-left: 40px;}
.navbtm .right .shopspan{display: inline-block;width:16px;height: 16px; border-radius: 50%;background: #F99302;color: #fff;
                          position: absolute;right:12px;top:-2px;text-align: center;}

/*========================鼠标移上显示的内容==================*/  
 #shoplist{height: 330px; background: #FFF; position: absolute;top:110px;width:100%;display: none;z-index: 5;box-shadow: 0px 5px 5px #aaa;}
 #shoplist .mainlist{width: 100px; border-right:1px solid #ccc ;height: 300px;padding-top: 30px;padding-left: 200px;}
 #shoplist .mainlist p{ height: 36px; line-height: 36px;font-weight: bold;}
 #shoplist .mainlist p a{color:#222;}
 #shoplist ul{width: 120px;margin-left: 30px; margin-top: 30px;} 
  #shoplist ul li{height: 36px; line-height: 36px;}
  #shoplist ul li.first a{color:#222;font-weight: bold;}
  
 .navbtm .right .shopbox{width: 300px; height: 180px; background: #fff; position: absolute; right: 20px;top:72px;border-radius: 8px; border: 1px solid #f9f;display: none;z-index: 10;} 
 .navbtm .right .shopbox p{text-align: center;height: 99px; line-height: 100px;}
 .navbtm .right .shopbox>div{ width: 250px; height: 80px;border-top: 1px solid #CCC; margin: 0 25px;}
 .navbtm .right .shopbox>div input{width: 250px; background: #FF6600; color: #fff;height: 40px;border:0;margin-top: 20px;border-radius: 5px;}

/*========================footer=================*/ 
footer{height: 383px;background: #222;width: 100%; margin-top: 50px;overflow:hidden; position: relative;}
footer .foot_nav{height: 213px;width: 96%;padding-top: 60px;}
footer .foot_nav ul{width: 140px;padding-left: 10px;}
footer .foot_nav ul:last-of-type{width: 180px;}
footer .foot_nav ul li{height: 18px;color:white; line-height: 18px;font-size: 12px;}
footer .foot_nav ul p{height: 33px; line-height: 33px; font-size: 16px; color: white;font-weight: bold;}
footer .foot_nav ul li a{ color:white;}
footer .foot_nav .comstyle {width:78px;height: 80px;}
footer .foot_nav .comstyle p{width: 78px;height: 30px; text-align: center;line-height: 30px;font-size: 16px; color: white;}
footer .foot_nav .comstyle>div.r{width: 78px; height: 50px;}
footer .foot_nav .comstyle>div.r span{width: 30px;height: 45px; margin-left: 8px;background: #222;opacity: .6;}
footer .foot_nav .comstyle>div.r span:hover{opacity: 1;}
footer>p{color:#666;text-align: right; margin-top: 70px;height: 20px; line-height: 20px;padding-right: 2%;}
#erweima{width: 240px;height:120px;position: absolute;right: 70px;top:130px; background: #444;display: none;}
#erweima dl{width: 120px;height: 120px;}
#erweima dl dt{width: 90px; height: 90px; margin-top:10px ;margin-left: 15px;}
#erweima dl dt img{width: 100%;height: 100%;}
#erweima dl dd{height: 20px; line-height: 20px;text-align: center;color: #666;}

#toTop{position: fixed;bottom: 50px;right: 50px; width: 40px;height: 40px;display: none;}

