@charset "utf-8";
/* CSS Document */
/*========================banner==================*/  
#banner{width: 100%;height:514px ;}
/*========================main==================*/ 
main{background: black;}
#showbox{height: 730px;}
#showbox .imgbox1{height: 730px;width: 585px;margin-top: 25px;overflow: hidden; position: relative;}
#showbox .imgbox1 img{height:100%; width: 100%;}
#showbox .imgbox{height: 355px;width: 585px; margin-top:25px ;margin-left: 30px; position: relative;overflow: hidden;}
#showbox .imgbox img{height:100%; width: 100%;}

#showbox .masking{position: absolute;width: 100%; height:80px;bottom: -80px;left: 0;background:rgba(0,0,0,.6);z-index: 1;}
#showbox h2{height: 80px; line-height: 80px;font-size: 24px;z-index: 2;text-align: center;
             position: absolute;bottom: -80px;left: 0;right: 0;} 
#showbox h2 a{color:white;display: inline-block;}                             



#shoes{height: 370px;position: relative; margin-top: 50px;padding-bottom: 50px;}
#shoes dl{height: 100%;width: 32%;margin-left: 2%;}
#shoes dl:first-child{margin-left: 0;}
#shoes dl dt{height: 296px;}
#shoes dl dt img{height: 100%;width:100%;}
#shoes dl dd{height: 74px; text-align: center; line-height: 74px;background: #222;}
#shoes dl dd a{font-size: 20px;color: white;}
