@charset "utf-8";

//全局变量
$border:1px solid #ccc;


#kong{
    height: 50px;
}

main{
    border: $border;
    //height:500px;
    //margin-top: 50px;
    overflow: hidden;
}
#buyGoods{
    margin: 30px;
    border: $border;
    
    
    h2{
      height: 70px; 
      line-height: 70px;
      font-size: 24px;
      font-weight: normal;
      border-bottom: $border; 
      margin-bottom: 30px;  
    }
    .carTitle{
        height: 30px;
        width: 100%;
        background: #d6d6d6;
        border-radius: 3px;
        line-height: 30px;
        li{
            float: left;
            text-align: center;
            width: 150px;
            height: 100%;
            display: inline-block;
            font-size: 20px;
            background: pink;
            border-right:1px solid blue ;
        }
        li:nth-of-type(1){
            width: 82px;
            background: red;
        }
        li:nth-of-type(2){
            width: 350px;
        }
         li:nth-of-type(4){
            width: 250px;
            background: yellow;
        }
        
    }
    section{
        width: 100%;    
        //background: darkgray;
    }
}

#shop-details{
    width: 100%;
    height: 100px;
    padding: 40px 0; 
    border-bottom: 1px solid #404040;
    .choose{
        width: 82px;
        height: 100%;
        //background: blueviolet;
        
        span{
            width: 26px;
            height: 26px;
            display: inline-block;
            margin: 36px 28px;
            cursor: pointer;
            background: url(../img/shopcar/chosen2.png) no-repeat center;
            background-size: cover;
        }
    } 
    
    dl{
        height: 100%;
        width: 350px;
        //background:greenyellow;
        
        dt{
            width: 98px;
            height: 98px;
            border: 1px solid #222;
            margin-right: 20px;
            
            img{
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            
        }
        dd{
            width: 220px;
            height: 100px;
            
            
            ul{
                height: 30px;
                width: 100%;
                line-height: 30px;
                 li{
                     float: left;
                     margin-right: 5px;
                 }
            }
           
        }
    } 
    
    .goods-price{
        width: 150px;
        height: 100%;
       // background: cyan;
        font-size: 12px;
        text-align: center;
        h4{ 
            margin-top:20px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            font-weight: 400;
 
        }
        p{
            height: 30px;
            text-decoration: line-through;
            color: #666;
            
        }
    } 
    
    .goods-number-change{
        width: 250px;
        height: 70px;
       // background: yellow;
        text-align: center;
         padding-top: 30px;
        button{
            width: 30px;
            height: 30px;
            display: inline-block;
            //background:url(../img/shopcar/productNumber.png) no-repeat center;
            background-size: 100%;
            border:none;
            border-radius: 3px;
           
        }
        button:nth-of-type(1){
            background:url(../img/shopcar/productNumber.png) no-repeat center;
            background-size: 100%;
            
            &:hover{
                background:url(../img/shopcar/productNumber2.png) no-repeat center;
                background-size: 100%;
            }
        }
        button:nth-of-type(2){
            background:url(../img/shopcar/productNumber3.png) no-repeat center;
            background-size: 100%;
            
            &:hover{
                background:url(../img/shopcar/productNumber4.png) no-repeat center;
                background-size: 100%;
            }
        }
        input{
            width: 34px;
            height: 30px;
            border: 0;
            vertical-align: top; 
            margin: 0 10px;
            text-align: center;
        }
    }
    
   .subTotal{
       width: 150px;
       height: 100%;
      // background: red;
       
       p{
          height:30px;
          line-height: 30px;
          font-size: 14px;
          width: 100%;
          text-align: center;
          //background: blue; 
          margin-top: 30px;
       }
    } 
    
    .operate{
        width: 150px;
        height: 100%;
       // background: grey;
        cursor: pointer;
        border-left: 1px solid #404040;
        
        
        h4{
            height: 30px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            margin-top: 20px;
             cursor: pointer;
        }
        p{
            height: 20px;
            text-align: center;
           // background: darkcyan;
             cursor: pointer;
        }
    }
   
     
}
 
#goods-name{
    width: 100%;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    }
    
#allgoods{
   
    height: 144px;
    margin-top: 90px;
   // background: burlywood;
    margin-bottom: 50px;
    
    .chooseAll{
       
        display: inline-block;
        padding: 5px 0;
        height: 26px;
        line-height: 26px;
        padding-left: 25px;
        text-align: left;
        
        span{
           
            height: 26px;
            display: inline-block;
            //margin: 36px 28px;
            background: url(../img/shopcar/chosen2.png) no-repeat center;
            
            padding: 6px 0;
            padding-left: 60px;
            margin-right: 30px;
            cursor: pointer;
          
        }
        
        b{
            color: #f70;
            font-size: 12px;
            font-weight: normal;
            
        }
        a{
           color: #f70;
            font-size: 12px; 
        }
    }
    
    .settle{
        width: 350px;
        height: 100%;
        float: right;
        margin-right: 20px;
       // background: darkgoldenrod;
        
        p{
            height: 32px;
            line-height: 32px;
            text-align: right;
            font-size: 14px;
            
            span{
                color: #f70;
                font-size: 20px;
                
                b{
                   font-weight: normal;  
                }
               
            }
            
        }
        
        input{
            width: 160px;
            height: 40px;
            border: 1px solid #f70;
            border-radius: 5px;
            margin: 25px 0px 20px 13px;
            cursor: pointer;
        }
        input:nth-of-type(2){
            background: #f70;
            color:white;
        }
        input:nth-of-type(1){
            background: white;
            color:#f70;
            
            &:hover{
                background: #f70;
                color:white;
            }
        }
    }
}

//点击删除弹出框的样式

.delete-bg{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}

.delete-goods{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 9999;
    width: 500px;
    height: 200px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    
    p{
        margin-bottom: 20px;
        height: 30px;
        
        span{
            float: right;
            width: 30px;
            display: inline-block;
            font-size: 26px;
            text-align: center;
            
            
            &:hover{
                background: #CCC;
                cursor:pointer;
            }
            
        }
    }
    
   h3{
       height: 40px;
      
       font-size: 30px;
       font-weight: normal;
   }
    input{
            width: 160px;
            height: 40px;
            border: 1px solid #f70;
            border-radius: 5px;
            margin: 25px 0px 20px 13px;
            cursor: pointer;
        }
        input:nth-of-type(2){
            background: #f70;
            color:white;
        }
        input:nth-of-type(1){
            background: white;
            color:#f70;
            
            &:hover{
                background: #f70;
                color:white;
            }
        } 
}
